__pycache__/
.idea/
build/
dist/
hca_util.egg-info/
covid_util.egg-info/
morphic_util.egg-info/
testpypi-env/
venv/

# vscode ide
.vscode

# Distribution / packaging
*.egg-info/

# nosetest code coverage
.coverage
coverage.xml
/cover